/**
 * Adjustments to the body to prevent the floating from masking the content in
 * the window it overlays along with other global properties.
 */
body {
  padding-top: 70px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
a:focus {
  outline: none;
}
/**
 * Navbar properties
 */
.navbar li {
    list-style: none;
}
.
/**
 * Repair list item display properties
 */
.panel {
   margin: 1em;
 }
.horizontal-container {
    display: flex;
}
repair-listing-info {
  display: inline-block;
}
repair-listing-status {
  display: inline-block;
}
